body {
  background-color: #0f0c69;
}

.container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.draggable1 {
  border: 20px solid #ceff00;
  margin: 30px;
  padding: 30px;
  text-align: center;
  color: #ceff00;
  font-size: 2rem;
}

.draggable2 {
  border: 20px solid #ceff00;
  margin: 30px;
  padding: 30px;
  text-align: center;
  color: #ceff00;
  font-size: 2rem;
}

.draggable3 {
  border: 20px solid #ceff00;
  margin: 30px;
  padding: 30px;
  text-align: center;
  color: #ceff00;
  font-size: 2rem;
}
